@import url(https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@500&display=swap);@import url(https://use.typekit.net/agj4vst.css);#sub_menu ul {
  margin-bottom: 0
}

hr[data-v-5183c4cc] {
  height: 0;
  color: inherit
}

abbr[title][data-v-5183c4cc] {
  -webkit-text-decoration: underline dotted;
  text-decoration: underline dotted
}

b[data-v-5183c4cc],strong[data-v-5183c4cc] {
  font-weight: bolder
}

code[data-v-5183c4cc],kbd[data-v-5183c4cc],pre[data-v-5183c4cc],samp[data-v-5183c4cc] {
  font-family: ui-monospace,SFMono-Regular,Consolas,Liberation Mono,Menlo,monospace;
  font-size: 1em
}

small[data-v-5183c4cc] {
  font-size: 80%
}

sub[data-v-5183c4cc],sup[data-v-5183c4cc] {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline
}

sub[data-v-5183c4cc] {
  bottom: -.25em
}

sup[data-v-5183c4cc] {
  top: -.5em
}

table[data-v-5183c4cc] {
  text-indent: 0;
  border-color: inherit
}

button[data-v-5183c4cc],input[data-v-5183c4cc],optgroup[data-v-5183c4cc],select[data-v-5183c4cc],textarea[data-v-5183c4cc] {
  font-family: inherit;
  font-size: 100%;
  line-height: 1.15;
  margin: 0
}

button[data-v-5183c4cc],select[data-v-5183c4cc] {
  text-transform: none
}

[type=button][data-v-5183c4cc],button[data-v-5183c4cc] {
  -webkit-appearance: button
}

legend[data-v-5183c4cc] {
  padding: 0
}

progress[data-v-5183c4cc] {
  vertical-align: baseline
}

summary[data-v-5183c4cc] {
  display: list-item
}

blockquote[data-v-5183c4cc],dd[data-v-5183c4cc],dl[data-v-5183c4cc],figure[data-v-5183c4cc],h1[data-v-5183c4cc],h2[data-v-5183c4cc],h3[data-v-5183c4cc],h4[data-v-5183c4cc],h5[data-v-5183c4cc],h6[data-v-5183c4cc],hr[data-v-5183c4cc],p[data-v-5183c4cc],pre[data-v-5183c4cc] {
  margin: 0
}

button[data-v-5183c4cc] {
  background-color: transparent;
  background-image: none
}

ol[data-v-5183c4cc],ul[data-v-5183c4cc] {
  list-style: none
}

[data-v-5183c4cc],[data-v-5183c4cc]:after,[data-v-5183c4cc]:before {
  box-sizing: border-box;
  border-width: 0;
  border-style: solid;
  border-color: currentColor
}

hr[data-v-5183c4cc] {
  border-top-width: 1px
}

img[data-v-5183c4cc] {
  border-style: solid
}

textarea[data-v-5183c4cc] {
  resize: vertical
}

input[data-v-5183c4cc]::-moz-placeholder,textarea[data-v-5183c4cc]::-moz-placeholder {
  opacity: 1;
  color: #9ca3af
}

input[data-v-5183c4cc]:-ms-input-placeholder,textarea[data-v-5183c4cc]:-ms-input-placeholder {
  opacity: 1;
  color: #9ca3af
}

input[data-v-5183c4cc]::placeholder,textarea[data-v-5183c4cc]::placeholder {
  opacity: 1;
  color: #9ca3af
}

button[data-v-5183c4cc] {
  cursor: pointer
}

table[data-v-5183c4cc] {
  border-collapse: collapse
}

h1[data-v-5183c4cc],h2[data-v-5183c4cc],h3[data-v-5183c4cc],h4[data-v-5183c4cc],h5[data-v-5183c4cc],h6[data-v-5183c4cc] {
  font-size: inherit;
  font-weight: inherit
}

a[data-v-5183c4cc] {
  color: inherit;
  text-decoration: inherit
}

button[data-v-5183c4cc],input[data-v-5183c4cc],optgroup[data-v-5183c4cc],select[data-v-5183c4cc],textarea[data-v-5183c4cc] {
  padding: 0;
  line-height: inherit;
  color: inherit
}

code[data-v-5183c4cc],kbd[data-v-5183c4cc],pre[data-v-5183c4cc],samp[data-v-5183c4cc] {
  font-family: ui-monospace,SFMono-Regular,Menlo,Monaco,Consolas,Liberation Mono,Courier New,monospace
}

audio[data-v-5183c4cc],canvas[data-v-5183c4cc],embed[data-v-5183c4cc],iframe[data-v-5183c4cc],img[data-v-5183c4cc],object[data-v-5183c4cc],svg[data-v-5183c4cc],video[data-v-5183c4cc] {
  display: block;
  vertical-align: middle
}

img[data-v-5183c4cc],video[data-v-5183c4cc] {
  max-width: 100%;
  height: auto
}

[hidden][data-v-5183c4cc] {
  display: none
}

[data-v-5183c4cc],[data-v-5183c4cc]:after,[data-v-5183c4cc]:before {
  --tw-border-opacity: 1;
  border-color: rgba(229,231,235,var(--tw-border-opacity))
}

.main[data-v-5183c4cc] {
  overflow: hidden;
  padding-bottom: 7.25rem;
  font-family: Times New Roman,YuMincho,Hiragino Mincho ProN,Yu Mincho,MS PMincho,serif;
  font-weight: 100;
  letter-spacing: .1em;
  --tw-text-opacity: 1;
  color: rgba(89,89,89,var(--tw-text-opacity))
}

.container[data-v-5183c4cc] {
  padding-left: 1.25rem;
  padding-right: 1.25rem
}

@media (min-width: 768px) {
  .container[data-v-5183c4cc] {
      margin-left:auto;
      margin-right: auto;
      max-width: 1300px
  }
}

.heading--en[data-v-5183c4cc] {
  text-align: center;
  font-size: 1.25rem;
  line-height: 1.75rem;
  font-weight: 100;
  --tw-text-opacity: 1;
  color: rgba(204,51,102,var(--tw-text-opacity))
}

.heading--jp[data-v-5183c4cc] {
  margin-top: .5rem;
  text-align: center;
  font-size: 1.875rem;
  line-height: 2.25rem;
  --tw-text-opacity: 1;
  color: rgba(26,26,26,var(--tw-text-opacity))
}

.heading--img[data-v-5183c4cc] {
  height: 60px
}

.heading--img img[data-v-5183c4cc] {
  margin-left: auto;
  margin-right: auto;
  height: 100%
}

@media (max-width: 1023px) {
  .heading--en[data-v-5183c4cc] {
      font-size:1.125rem;
      line-height: 1.75rem
  }

  .heading--jp[data-v-5183c4cc] {
      font-size: 1.25rem;
      line-height: 1.75rem
  }

  .heading--img[data-v-5183c4cc] {
      height: 55px
  }
}

.section[data-v-5183c4cc] {
  margin-top: 4.25rem
}

.section__lead[data-v-5183c4cc] {
  margin-top: 1.75rem;
  margin-bottom: 2.25rem;
  text-align: center;
  font-size: .875rem;
  line-height: 1.25rem;
  line-height: 2.4
}

@media (max-width: 640px) {
  .section__lead[data-v-5183c4cc] {
      text-align:left
  }
}

@media (max-width: 1023px) {
  .section__lead[data-v-5183c4cc] {
      padding-left:1.25rem;
      padding-right: 1.25rem;
      font-size: .875rem;
      line-height: 1.25rem
  }
}

.icon--360[data-v-5183c4cc] {
  width: 45px
}

.icon--zoom[data-v-5183c4cc] {
  width: 20px
}

.icon--start[data-v-5183c4cc] {
  width: 11px
}

.icon--play[data-v-5183c4cc] {
  width: 25px
}

.header[data-v-5183c4cc] {
  display: flex;
  font-weight: 100;
  background: #e481a0;
  background: linear-gradient(135deg,#e082a0,135deg,#e082a0 50%,#df6894)
}

.header[data-v-5183c4cc],.header__jp[data-v-5183c4cc] {
  --tw-text-opacity: 1;
  color: rgba(255,255,255,var(--tw-text-opacity))
}

.header__jp[data-v-5183c4cc] {
  font-size: .75rem;
  line-height: 1rem
}

.header__en[data-v-5183c4cc] {
  font-size: 1.875rem;
  line-height: 2.25rem;
  --tw-text-opacity: 1;
  color: rgba(255,255,255,var(--tw-text-opacity))
}

.header__desc[data-v-5183c4cc] {
  margin-top: .5rem
}

.header__desc[data-v-5183c4cc],.header__note[data-v-5183c4cc] {
  font-size: .75rem;
  line-height: 1rem;
  --tw-text-opacity: 1;
  color: rgba(255,255,255,var(--tw-text-opacity))
}

@media (max-width: 1023px) {
  .header[data-v-5183c4cc] {
      padding-top:1.25rem;
      padding-bottom: 1.25rem
  }

  .header__jp[data-v-5183c4cc] {
      font-size: .75rem;
      line-height: 1rem
  }

  .header__en[data-v-5183c4cc] {
      font-size: 1.875rem;
      line-height: 2.25rem
  }

  .header__desc[data-v-5183c4cc] {
      margin-top: .75rem;
      font-size: .75rem;
      line-height: 1rem
  }

  .header__note[data-v-5183c4cc] {
      margin-top: .25rem;
      font-size: .75rem;
      line-height: 1rem
  }
}

@media (min-width: 768px) {
  .header__container[data-v-5183c4cc] {
      display:flex;
      width: 100%;
      flex-wrap: wrap;
      align-items: center;
      justify-content: space-between;
      min-height: 155px
  }

  .header__title[data-v-5183c4cc] {
      flex: none
  }

  .header__lead[data-v-5183c4cc] {
      width: 44.7%;
      min-width: 519px
  }

  .header__jp[data-v-5183c4cc] {
      font-size: 1.25rem;
      line-height: 1.75rem
  }

  .header__en[data-v-5183c4cc] {
      font-size: 2.5rem;
      line-height: 1
  }

  .header__desc[data-v-5183c4cc] {
      font-size: 1.125rem;
      line-height: 1.75rem
  }

  .header__note[data-v-5183c4cc] {
      margin-top: .25rem;
      font-size: .75rem;
      line-height: 1rem
  }
}

@media (min-width: 641px) and (max-width:1023px) {
  .header__container[data-v-5183c4cc] {
      min-height:0
  }

  .header__jp[data-v-5183c4cc] {
      font-size: 1rem;
      line-height: 1.5rem
  }

  .header__en[data-v-5183c4cc] {
      font-size: 1.875rem;
      line-height: 2.25rem
  }

  .header__desc[data-v-5183c4cc] {
      font-size: .875rem;
      line-height: 1.25rem
  }

  .header__lead[data-v-5183c4cc] {
      min-width: 0
  }
}

.simulator[data-v-5183c4cc] {
  display: flex;
  flex-wrap: wrap
}

.simulator__item[data-v-5183c4cc] {
  flex: none
}

@media (min-width: 768px) {
  .simulator[data-v-5183c4cc] {
      flex-wrap:nowrap;
      min-height: 765px
  }
}

@media (min-width: 641px) and (max-width:1023px) {
  .simulator[data-v-5183c4cc] {
      min-height:0
  }
}

.canvas[data-v-5183c4cc] {
  width: 100%;
  --tw-bg-opacity: 1;
  background-color: rgba(255,255,255,var(--tw-bg-opacity))
}

.canvas__assembly[data-v-5183c4cc] {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  --tw-text-opacity: 1;
  color: rgba(75,85,99,var(--tw-text-opacity));
  height: 390px
}

.canvas__bottle[data-v-5183c4cc] {
  display: flex
}

.canvas__360[data-v-5183c4cc] {
  position: relative;
  display: flex;
  cursor: pointer;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  background-image: linear-gradient(90deg,#fafafa,#f2f2f2);
  flex-basis: 50%
}

.canvas__360 img[data-v-5183c4cc] {
  height: 100%;
  width: 100%;
  -o-object-fit: contain;
  object-fit: contain;
  max-width: 175px;
  max-height: 225px
}

.canvas__360 .icon--360[data-v-5183c4cc] {
  position: absolute;
  top: 1.25rem;
  left: 1.25rem;
  width: 45px
}

.canvas__360 .icon--zoom[data-v-5183c4cc] {
  position: absolute;
  bottom: .75rem;
  margin-left: -2.25rem;
  width: 20px
}

.canvas__360 .icon--start[data-v-5183c4cc] {
  position: absolute;
  bottom: 1rem;
  margin-right: -2.25rem;
  width: 11px
}

.canvas__hand[data-v-5183c4cc] {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  --tw-text-opacity: 1;
  color: rgba(75,85,99,var(--tw-text-opacity));
  flex-basis: 50%;
  background-color: #f2ded3
}

.canvas__hand img[data-v-5183c4cc] {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
  object-fit: cover
}

@media (min-width: 768px) {
  .canvas[data-v-5183c4cc] {
      order:2;
      flex-shrink: 1;
      flex-basis: 48.1%;
      box-shadow: 0 10px 30px 0 rgba(0,0,0,.15)
  }

  .canvas__assembly[data-v-5183c4cc] {
      height: 51%
  }

  .canvas__bottle[data-v-5183c4cc] {
      height: 49%
  }

  .canvas__360[data-v-5183c4cc] {
      padding-left: 2.5rem;
      padding-right: 2.5rem
  }
}

@media (min-width: 641px) and (max-width:1023px) {
  .canvas[data-v-5183c4cc] {
      width:50%;
      flex-grow: 1;
      flex-shrink: 0
  }
}

@media (max-width: 1023px) {
  .canvas__360[data-v-5183c4cc] {
      padding-left:2rem;
      padding-right: 2rem;
      padding-top: 1rem;
      padding-bottom: 1rem;
      min-height: 273px
  }

  .canvas__360 .icon--zoom[data-v-5183c4cc] {
      display: none
  }

  .canvas__360 .icon--start[data-v-5183c4cc] {
      margin-right: 0
  }
}

.controller[data-v-5183c4cc] {
  width: 100%;
  --tw-bg-opacity: 1;
  background-color: rgba(255,255,255,var(--tw-bg-opacity))
}

.controller__item--pumps[data-v-5183c4cc] {
  background: #f2f2f2
}

.controller__inner[data-v-5183c4cc] {
  position: relative
}

.controller__heading[data-v-5183c4cc] {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding-bottom: .75rem
}

.controller__step[data-v-5183c4cc] {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 9999px;
  text-align: center;
  font-family: futura-pt,游ゴシック体,YuGothic,游ゴシック Medium,Yu Gothic Medium,游ゴシック,Yu Gothic,sans-serif;
  --tw-text-opacity: 1;
  color: rgba(255,255,255,var(--tw-text-opacity));
  width: 60px;
  height: 60px;
  background: rgba(204,51,102,.8);
  line-height: 1.08
}

.controller__ttl[data-v-5183c4cc] {
  white-space: nowrap;
  font-weight: 400;
  --tw-text-opacity: 1;
  color: rgba(204,51,102,var(--tw-text-opacity))
}

.controller__bottles[data-v-5183c4cc] {
  display: flex;
  width: 100%;
  align-items: center
}

.controller__bottles[data-v-5183c4cc],.controller__selected[data-v-5183c4cc] {
  white-space: nowrap;
  font-family: futura-pt,游ゴシック体,YuGothic,游ゴシック Medium,Yu Gothic Medium,游ゴシック,Yu Gothic,sans-serif
}

.controller__nav[data-v-5183c4cc] {
  display: flex;
  align-items: center;
  justify-content: center
}

.controller__next[data-v-5183c4cc],.controller__prev[data-v-5183c4cc] {
  line-height: 1;
  --tw-text-opacity: 1;
  color: rgba(204,51,102,var(--tw-text-opacity))
}

.pagination[data-v-5183c4cc] {
  margin-left: .75rem;
  margin-right: .75rem;
  display: flex;
  align-items: center
}

.pagination__item[data-v-5183c4cc] {
  margin-left: .125rem;
  margin-right: .125rem;
  margin-top: .25rem;
  border-radius: 9999px;
  border-width: 1px;
  --tw-border-opacity: 1;
  border-color: rgba(204,51,102,var(--tw-border-opacity));
  width: 10px;
  height: 10px
}

.pagination__item.is-current[data-v-5183c4cc] {
  --tw-bg-opacity: 1;
  background-color: rgba(204,51,102,var(--tw-bg-opacity))
}

@media (max-width: 1023px) {
  .controller__heading[data-v-5183c4cc] {
      position:relative;
      padding-top: .75rem;
      padding-right: 0;
      padding-left: 4rem
  }

  .controller__step[data-v-5183c4cc] {
      position: absolute;
      top: -.5rem;
      left: .5rem;
      width: 50px;
      height: 50px
  }

  .controller__item[data-v-5183c4cc] {
      padding-bottom: 1rem
  }

  .controller__selected[data-v-5183c4cc] {
      font-size: .75rem;
      line-height: 1rem
  }
}

@media (min-width: 768px) {
  .controller[data-v-5183c4cc] {
      order:1;
      display: flex;
      flex-direction: column;
      flex-basis: 51.9%;
      box-shadow: 0 10px 30px 0 rgba(0,0,0,.15);
      z-index: 1;
      min-width: 590px
  }

  .controller__nav[data-v-5183c4cc] {
      display: none
  }

  .controller__item[data-v-5183c4cc] {
      padding-left: 30px;
      padding-right: 30px
  }

  @media (min-width: 1280px) {
      .controller__item[data-v-5183c4cc] {
          padding-left:60px;
          padding-right: 60px
      }
  }

  .controller__item--bottles[data-v-5183c4cc] {
      min-height: 257px
  }

  .controller__item--pumps[data-v-5183c4cc] {
      min-height: 168px
  }

  .controller__inner[data-v-5183c4cc] {
      margin-left: auto;
      padding-left: 60px;
      box-sizing: content-box
  }

  .controller__step[data-v-5183c4cc] {
      top: -5px;
      left: -20px
  }

  .controller__heading[data-v-5183c4cc] {
      padding-bottom: 10px;
      padding-top: 15px;
      width: 450px
  }

  .controller__ttl[data-v-5183c4cc] {
      font-size: 1.25rem;
      line-height: 1.75rem;
      margin-right: 10px
  }

  .controller__bottles[data-v-5183c4cc] {
      margin-right: 10px
  }

  .controller__selected[data-v-5183c4cc] {
      font-size: .9375rem
  }
}

@media (min-width: 1280px) {
  .controller__heading[data-v-5183c4cc] {
      width:auto;
      flex-wrap: nowrap
  }

  .controller__item[data-v-5183c4cc] {
      padding-right: 10px;
      padding-left: 30px
  }

  .controller__inner[data-v-5183c4cc] {
      margin-left: auto;
      margin-right: auto;
      padding-left: 0;
      max-width: 510px;
      padding-left: 50px
  }

  .controller__bottles[data-v-5183c4cc] {
      width: auto;
      order: 2
  }

  .controller__selected[data-v-5183c4cc] {
      order: 3
  }
}

@media (min-width: 641px) and (max-width:1023px) {
  .controller[data-v-5183c4cc] {
      flex:none;
      width: 50%;
      min-width: 0
  }

  .controller__inner[data-v-5183c4cc] {
      padding-bottom: 1.25rem;
      padding-left: 0
  }

  .controller__heading[data-v-5183c4cc] {
      position: relative;
      width: auto;
      padding-top: .75rem;
      padding-right: 0;
      padding-bottom: .75rem;
      padding-left: 2.25rem
  }

  .controller__step[data-v-5183c4cc] {
      left: -1rem
  }

  .controller__item[data-v-5183c4cc] {
      padding-right: .25rem;
      padding-left: 1.25rem
  }

  .controller__ttl[data-v-5183c4cc] {
      font-size: 1.125rem;
      line-height: 1.75rem
  }
}

.assemble__wrap[data-v-5183c4cc] {
  position: relative;
  height: 100%;
  width: 100%
}

.assemble__item[data-v-5183c4cc] {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%)
}

.assemble__bottle[data-v-5183c4cc] {
  height: 100%;
  width: 100%;
  max-height: 55%;
  max-width: 200px;
  margin-top: 32px
}

.assemble__bottle img[data-v-5183c4cc] {
  height: 100%;
  width: 100%;
  -o-object-fit: contain;
  object-fit: contain
}

.assemble__pump[data-v-5183c4cc] {
  max-width: 58px;
  max-height: 69px;
  margin-top: -64px
}

.assemble__cap[data-v-5183c4cc] {
  width: 55px;
  margin-top: -79px
}

.assemble__cap.cap--4[data-v-5183c4cc],.assemble__cap.cap--5[data-v-5183c4cc] {
  margin-top: -68px
}

.assemble__cap.cap--6[data-v-5183c4cc] {
  width: 90px;
  margin-top: -76px
}

.assemble__cap.cap--7[data-v-5183c4cc] {
  width: 103px;
  margin-top: -87px
}

.assemble__cap.cap--8[data-v-5183c4cc] {
  width: 73px;
  margin-top: -78px
}

.assemble__cap.cap--9[data-v-5183c4cc] {
  width: 63px;
  margin-top: -82px
}

.assemble__cap.cap--10[data-v-5183c4cc] {
  width: 86px;
  margin-top: -75px
}

.assemble__cap.cap--11[data-v-5183c4cc] {
  width: 98px;
  margin-top: -86px
}

.assemble__cap.cap--12[data-v-5183c4cc] {
  width: 75px;
  margin-top: -62px
}

.assemble__cap.cap--13[data-v-5183c4cc] {
  width: 62px;
  margin-top: -67px
}

.assemble__cap.cap--14[data-v-5183c4cc] {
  margin-top: -68px
}

.assemble.bottle--1.pump--1 .cap--6[data-v-5183c4cc],.assemble.bottle--1.pump--2 .cap--6[data-v-5183c4cc],.assemble.bottle--1.pump--3 .cap--6[data-v-5183c4cc],.assemble.bottle--1.pump--4 .cap--6[data-v-5183c4cc] {
  margin-top: -67px
}

.assemble.bottle--1.pump--1 .cap--7[data-v-5183c4cc],.assemble.bottle--1.pump--2 .cap--7[data-v-5183c4cc],.assemble.bottle--1.pump--3 .cap--7[data-v-5183c4cc],.assemble.bottle--1.pump--4 .cap--7[data-v-5183c4cc] {
  margin-top: -80px
}

.assemble.bottle--1.pump--1 .cap--8[data-v-5183c4cc],.assemble.bottle--1.pump--2 .cap--8[data-v-5183c4cc],.assemble.bottle--1.pump--3 .cap--8[data-v-5183c4cc],.assemble.bottle--1.pump--4 .cap--8[data-v-5183c4cc] {
  width: 60px;
  margin-top: -67px
}

.assemble.bottle--1.pump--1 .cap--9[data-v-5183c4cc],.assemble.bottle--1.pump--2 .cap--9[data-v-5183c4cc],.assemble.bottle--1.pump--3 .cap--9[data-v-5183c4cc],.assemble.bottle--1.pump--4 .cap--9[data-v-5183c4cc] {
  margin-top: -69px
}

.assemble.bottle--1.pump--1 .cap--11[data-v-5183c4cc],.assemble.bottle--1.pump--2 .cap--11[data-v-5183c4cc],.assemble.bottle--1.pump--3 .cap--11[data-v-5183c4cc],.assemble.bottle--1.pump--4 .cap--11[data-v-5183c4cc] {
  width: 93px;
  margin-top: -77px
}

.assemble.bottle--1.pump--2 .cap--6[data-v-5183c4cc],.assemble.bottle--1.pump--3 .cap--6[data-v-5183c4cc],.assemble.bottle--1.pump--3 .cap--8[data-v-5183c4cc] {
  margin-top: -67px
}

.assemble.bottle--1.pump--4 .cap--6[data-v-5183c4cc] {
  margin-top: -68px
}

.assemble.bottle--1.pump--4 .cap--8[data-v-5183c4cc] {
  margin-top: -67px
}

.assemble.bottle--2 .assemble__pump[data-v-5183c4cc] {
  max-width: 48px;
  margin-top: -80px
}

.assemble.bottle--2 .assemble__cap[data-v-5183c4cc] {
  margin-top: -91px
}

.assemble.bottle--2 .assemble__cap.cap--1[data-v-5183c4cc],.assemble.bottle--2 .assemble__cap.cap--2[data-v-5183c4cc],.assemble.bottle--2 .assemble__cap.cap--3[data-v-5183c4cc] {
  width: 51px;
  margin-top: -102px
}

.assemble.bottle--2 .assemble__cap.cap--4[data-v-5183c4cc],.assemble.bottle--2 .assemble__cap.cap--5[data-v-5183c4cc] {
  width: 51px;
  margin-top: -91px
}

.assemble.bottle--2 .assemble__cap.cap--6[data-v-5183c4cc] {
  width: 95px
}

.assemble.bottle--2 .assemble__cap.cap--7[data-v-5183c4cc] {
  width: 88px;
  margin-top: -100px
}

.assemble.bottle--2 .assemble__cap.cap--8[data-v-5183c4cc] {
  width: 50px;
  margin-top: -85px
}

.assemble.bottle--2 .assemble__cap.cap--9[data-v-5183c4cc] {
  width: 53px;
  margin-top: -88px
}

.assemble.bottle--2 .assemble__cap.cap--10[data-v-5183c4cc] {
  width: 68px
}

.assemble.bottle--2 .assemble__cap.cap--11[data-v-5183c4cc] {
  width: 77px;
  margin-top: -94px
}

.assemble.bottle--2 .assemble__cap.cap--12[data-v-5183c4cc] {
  width: 72px;
  margin-top: -91px
}

.assemble.bottle--2 .assemble__cap.cap--13[data-v-5183c4cc] {
  width: 62px
}

.assemble.bottle--2 .assemble__cap.cap--14[data-v-5183c4cc] {
  width: 52px;
  margin-top: -91px
}

.assemble.bottle--2.pump--1 .cap--6[data-v-5183c4cc],.assemble.bottle--2.pump--2 .cap--6[data-v-5183c4cc],.assemble.bottle--2.pump--3 .cap--6[data-v-5183c4cc],.assemble.bottle--2.pump--4 .cap--6[data-v-5183c4cc] {
  width: 73px;
  margin-top: -85px
}

.assemble.bottle--3 .assemble__cap[data-v-5183c4cc],.assemble.bottle--3 .assemble__pump[data-v-5183c4cc] {
  margin-top: -79px
}

.assemble.bottle--3 .assemble__cap.cap--1[data-v-5183c4cc],.assemble.bottle--3 .assemble__cap.cap--2[data-v-5183c4cc],.assemble.bottle--3 .assemble__cap.cap--3[data-v-5183c4cc] {
  width: 51px;
  margin-top: -95px
}

.assemble.bottle--3 .assemble__cap.cap--4[data-v-5183c4cc],.assemble.bottle--3 .assemble__cap.cap--5[data-v-5183c4cc] {
  width: 54px;
  margin-top: -88px
}

.assemble.bottle--3 .assemble__cap.cap--6[data-v-5183c4cc] {
  width: 113px;
  margin-top: -92px
}

.assemble.bottle--3 .assemble__cap.cap--7[data-v-5183c4cc] {
  width: 100px;
  margin-top: -106px
}

.assemble.bottle--3 .assemble__cap.cap--8[data-v-5183c4cc] {
  width: 85px;
  margin-top: -97px
}

.assemble.bottle--3 .assemble__cap.cap--9[data-v-5183c4cc] {
  width: 55px;
  margin-top: -79px
}

.assemble.bottle--3 .assemble__cap.cap--10[data-v-5183c4cc] {
  width: 80px;
  margin-top: -87px
}

.assemble.bottle--3 .assemble__cap.cap--11[data-v-5183c4cc] {
  width: 83px;
  margin-top: -88px
}

.assemble.bottle--3 .assemble__cap.cap--12[data-v-5183c4cc] {
  width: 70px;
  margin-top: -80px
}

.assemble.bottle--3 .assemble__cap.cap--13[data-v-5183c4cc] {
  width: 58px
}

.assemble.bottle--3 .assemble__cap.cap--14[data-v-5183c4cc] {
  width: 51px;
  margin-top: -83px
}

.assemble.bottle--3.pump--1 .cap--6[data-v-5183c4cc],.assemble.bottle--3.pump--2 .cap--6[data-v-5183c4cc],.assemble.bottle--3.pump--3 .cap--6[data-v-5183c4cc],.assemble.bottle--3.pump--4 .cap--6[data-v-5183c4cc] {
  width: 84px;
  margin-top: -85px
}

.assemble.bottle--3.pump--1 .cap--7[data-v-5183c4cc],.assemble.bottle--3.pump--2 .cap--7[data-v-5183c4cc],.assemble.bottle--3.pump--3 .cap--7[data-v-5183c4cc],.assemble.bottle--3.pump--4 .cap--7[data-v-5183c4cc] {
  margin-top: -95px
}

.assemble.bottle--4 .assemble__pump[data-v-5183c4cc] {
  max-width: 52px;
  margin-top: -77px
}

.assemble.bottle--4 .assemble__cap.cap--1[data-v-5183c4cc],.assemble.bottle--4 .assemble__cap.cap--2[data-v-5183c4cc],.assemble.bottle--4 .assemble__cap.cap--3[data-v-5183c4cc] {
  width: 50px;
  margin-top: -95px
}

.assemble.bottle--4 .assemble__cap.cap--4[data-v-5183c4cc],.assemble.bottle--4 .assemble__cap.cap--5[data-v-5183c4cc] {
  width: 50px;
  margin-top: -86px
}

.assemble.bottle--4 .assemble__cap.cap--6[data-v-5183c4cc] {
  width: 78px;
  margin-top: -85px
}

.assemble.bottle--4 .assemble__cap.cap--7[data-v-5183c4cc] {
  width: 95px;
  margin-top: -96px
}

.assemble.bottle--4 .assemble__cap.cap--8[data-v-5183c4cc] {
  width: 80px;
  margin-top: -99px
}

.assemble.bottle--4 .assemble__cap.cap--9[data-v-5183c4cc] {
  width: 55px;
  margin-top: -85px
}

.assemble.bottle--4 .assemble__cap.cap--10[data-v-5183c4cc] {
  width: 77px;
  margin-top: -89px
}

.assemble.bottle--4 .assemble__cap.cap--11[data-v-5183c4cc] {
  width: 85px;
  margin-top: -92px
}

.assemble.bottle--4 .assemble__cap.cap--12[data-v-5183c4cc] {
  width: 69px;
  margin-top: -82px
}

.assemble.bottle--4 .assemble__cap.cap--13[data-v-5183c4cc] {
  width: 62px;
  margin-top: -87px
}

.assemble.bottle--4 .assemble__cap.cap--14[data-v-5183c4cc] {
  width: 50px;
  margin-top: -85px
}

.assemble.bottle--5 .assemble__pump[data-v-5183c4cc] {
  margin-top: -88px
}

.assemble.bottle--5 .assemble__cap[data-v-5183c4cc] {
  margin-top: -85px
}

.assemble.bottle--5 .assemble__cap.cap--1[data-v-5183c4cc],.assemble.bottle--5 .assemble__cap.cap--2[data-v-5183c4cc],.assemble.bottle--5 .assemble__cap.cap--3[data-v-5183c4cc] {
  width: 45px;
  margin-top: -95px
}

.assemble.bottle--5 .assemble__cap.cap--4[data-v-5183c4cc],.assemble.bottle--5 .assemble__cap.cap--5[data-v-5183c4cc] {
  width: 45px;
  margin-top: -85px
}

.assemble.bottle--5 .assemble__cap.cap--6[data-v-5183c4cc] {
  width: 70px;
  margin-top: -83px
}

.assemble.bottle--5 .assemble__cap.cap--7[data-v-5183c4cc] {
  width: 90px;
  margin-top: -97px
}

.assemble.bottle--5 .assemble__cap.cap--8[data-v-5183c4cc] {
  width: 48px;
  margin-top: -80px
}

.assemble.bottle--5 .assemble__cap.cap--9[data-v-5183c4cc] {
  width: 53px;
  margin-top: -84px
}

.assemble.bottle--5 .assemble__cap.cap--10[data-v-5183c4cc] {
  width: 80px;
  margin-top: -93px
}

.assemble.bottle--5 .assemble__cap.cap--11[data-v-5183c4cc] {
  width: 75px;
  margin-top: -90px
}

.assemble.bottle--5 .assemble__cap.cap--12[data-v-5183c4cc] {
  width: 68px;
  margin-top: -85px
}

.assemble.bottle--5 .assemble__cap.cap--13[data-v-5183c4cc] {
  width: 55px
}

.assemble.bottle--5 .assemble__cap.cap--14[data-v-5183c4cc] {
  width: 45px
}

.assemble.bottle--6 .assemble__pump[data-v-5183c4cc] {
  margin-top: -75px
}

.assemble.bottle--6 .assemble__cap[data-v-5183c4cc] {
  margin-top: -85px
}

.assemble.bottle--6 .assemble__cap.cap--1[data-v-5183c4cc],.assemble.bottle--6 .assemble__cap.cap--2[data-v-5183c4cc],.assemble.bottle--6 .assemble__cap.cap--3[data-v-5183c4cc] {
  width: 45px
}

.assemble.bottle--6 .assemble__cap.cap--4[data-v-5183c4cc],.assemble.bottle--6 .assemble__cap.cap--5[data-v-5183c4cc] {
  width: 45px;
  margin-top: -85px
}

.assemble.bottle--6 .assemble__cap.cap--6[data-v-5183c4cc] {
  width: 70px;
  margin-top: -76px
}

.assemble.bottle--6 .assemble__cap.cap--7[data-v-5183c4cc] {
  width: 90px;
  margin-top: -90px
}

.assemble.bottle--6 .assemble__cap.cap--8[data-v-5183c4cc] {
  width: 70px;
  margin-top: -92px
}

.assemble.bottle--6 .assemble__cap.cap--9[data-v-5183c4cc] {
  width: 53px;
  margin-top: -77px
}

.assemble.bottle--6 .assemble__cap.cap--10[data-v-5183c4cc] {
  width: 80px;
  margin-top: -86px
}

.assemble.bottle--6 .assemble__cap.cap--11[data-v-5183c4cc] {
  width: 75px;
  margin-top: -83px
}

.assemble.bottle--6 .assemble__cap.cap--12[data-v-5183c4cc] {
  width: 68px;
  margin-top: -76px
}

.assemble.bottle--6 .assemble__cap.cap--13[data-v-5183c4cc] {
  width: 55px;
  margin-top: -77px
}

.assemble.bottle--6 .assemble__cap.cap--14[data-v-5183c4cc] {
  width: 45px;
  margin-top: -75px
}

.assemble.bottle--7 .assemble__pump[data-v-5183c4cc] {
  max-width: 43px;
  margin-top: -78px
}

.assemble.bottle--7 .assemble__cap[data-v-5183c4cc] {
  margin-top: -95px
}

.assemble.bottle--7 .assemble__cap.cap--1[data-v-5183c4cc],.assemble.bottle--7 .assemble__cap.cap--2[data-v-5183c4cc],.assemble.bottle--7 .assemble__cap.cap--3[data-v-5183c4cc] {
  width: 45px
}

.assemble.bottle--7 .assemble__cap.cap--4[data-v-5183c4cc],.assemble.bottle--7 .assemble__cap.cap--5[data-v-5183c4cc] {
  width: 45px;
  margin-top: -89px
}

.assemble.bottle--7 .assemble__cap.cap--6[data-v-5183c4cc] {
  width: 74px;
  margin-top: -87px
}

.assemble.bottle--7 .assemble__cap.cap--7[data-v-5183c4cc] {
  width: 90px;
  margin-top: -100px
}

.assemble.bottle--7 .assemble__cap.cap--8[data-v-5183c4cc] {
  width: 49px;
  margin-top: -87px
}

.assemble.bottle--7 .assemble__cap.cap--9[data-v-5183c4cc] {
  width: 53px;
  margin-top: -88px
}

.assemble.bottle--7 .assemble__cap.cap--10[data-v-5183c4cc] {
  width: 75px;
  margin-top: -94px
}

.assemble.bottle--7 .assemble__cap.cap--11[data-v-5183c4cc] {
  width: 82px;
  margin-top: -97px
}

.assemble.bottle--7 .assemble__cap.cap--12[data-v-5183c4cc] {
  width: 65px;
  margin-top: -86px
}

.assemble.bottle--7 .assemble__cap.cap--13[data-v-5183c4cc] {
  width: 55px;
  margin-top: -87px
}

.assemble.bottle--7 .assemble__cap.cap--14[data-v-5183c4cc] {
  width: 45px;
  margin-top: -87px
}

.assemble.bottle--8 .assemble__pump[data-v-5183c4cc] {
  max-width: 58px;
  margin-top: -77px
}

.assemble.bottle--8 .assemble__cap.cap--1[data-v-5183c4cc],.assemble.bottle--8 .assemble__cap.cap--2[data-v-5183c4cc],.assemble.bottle--8 .assemble__cap.cap--3[data-v-5183c4cc] {
  width: 53px;
  margin-top: -96px
}

.assemble.bottle--8 .assemble__cap.cap--4[data-v-5183c4cc],.assemble.bottle--8 .assemble__cap.cap--5[data-v-5183c4cc] {
  width: 53px;
  margin-top: -85px
}

.assemble.bottle--8 .assemble__cap.cap--6[data-v-5183c4cc] {
  width: 94px;
  margin-top: -86px
}

.assemble.bottle--8 .assemble__cap.cap--7[data-v-5183c4cc] {
  width: 116px;
  margin-top: -102px
}

.assemble.bottle--8 .assemble__cap.cap--8[data-v-5183c4cc] {
  width: 63px;
  margin-top: -83px
}

.assemble.bottle--8 .assemble__cap.cap--9[data-v-5183c4cc] {
  width: 70px;
  margin-top: -88px
}

.assemble.bottle--8 .assemble__cap.cap--10[data-v-5183c4cc] {
  width: 94px;
  margin-top: -93px
}

.assemble.bottle--8 .assemble__cap.cap--11[data-v-5183c4cc] {
  width: 102px;
  margin-top: -97px
}

.assemble.bottle--8 .assemble__cap.cap--12[data-v-5183c4cc] {
  width: 80px;
  margin-top: -83px
}

.assemble.bottle--8 .assemble__cap.cap--13[data-v-5183c4cc] {
  width: 72px;
  margin-top: -84px
}

.assemble.bottle--8 .assemble__cap.cap--14[data-v-5183c4cc] {
  width: 53px;
  margin-top: -83px
}

.assemble.bottle--9 .assemble__pump[data-v-5183c4cc] {
  max-width: 48px;
  margin-top: -76px
}

.assemble.bottle--9 .assemble__cap.cap--1[data-v-5183c4cc],.assemble.bottle--9 .assemble__cap.cap--2[data-v-5183c4cc],.assemble.bottle--9 .assemble__cap.cap--3[data-v-5183c4cc] {
  width: 47px;
  margin-top: -95px
}

.assemble.bottle--9 .assemble__cap.cap--4[data-v-5183c4cc],.assemble.bottle--9 .assemble__cap.cap--5[data-v-5183c4cc] {
  width: 47px;
  margin-top: -85px
}

.assemble.bottle--9 .assemble__cap.cap--6[data-v-5183c4cc] {
  width: 75px;
  margin-top: -84px
}

.assemble.bottle--9 .assemble__cap.cap--7[data-v-5183c4cc] {
  width: 100px;
  margin-top: -101px
}

.assemble.bottle--9 .assemble__cap.cap--8[data-v-5183c4cc] {
  width: 55px;
  margin-top: -85px
}

.assemble.bottle--9 .assemble__cap.cap--9[data-v-5183c4cc] {
  width: 55px;
  margin-top: -83px
}

.assemble.bottle--9 .assemble__cap.cap--10[data-v-5183c4cc] {
  width: 80px;
  margin-top: -92px
}

.assemble.bottle--9 .assemble__cap.cap--11[data-v-5183c4cc] {
  width: 91px;
  margin-top: -97px
}

.assemble.bottle--9 .assemble__cap.cap--12[data-v-5183c4cc] {
  width: 70px;
  margin-top: -83px
}

.assemble.bottle--9 .assemble__cap.cap--13[data-v-5183c4cc] {
  width: 60px;
  margin-top: -86px
}

.assemble.bottle--9 .assemble__cap.cap--14[data-v-5183c4cc] {
  width: 47px;
  margin-top: -83px
}

.assemble.bottle--10 .assemble__pump[data-v-5183c4cc] {
  max-width: 45px;
  margin-top: -77px
}

.assemble.bottle--10 .assemble__cap[data-v-5183c4cc] {
  margin-top: -91px
}

.assemble.bottle--10 .assemble__cap.cap--1[data-v-5183c4cc],.assemble.bottle--10 .assemble__cap.cap--2[data-v-5183c4cc],.assemble.bottle--10 .assemble__cap.cap--3[data-v-5183c4cc] {
  width: 45px;
  margin-top: -97px
}

.assemble.bottle--10 .assemble__cap.cap--4[data-v-5183c4cc],.assemble.bottle--10 .assemble__cap.cap--5[data-v-5183c4cc] {
  width: 45px;
  margin-top: -88px
}

.assemble.bottle--10 .assemble__cap.cap--6[data-v-5183c4cc] {
  width: 68px;
  margin-top: -85px
}

.assemble.bottle--10 .assemble__cap.cap--7[data-v-5183c4cc] {
  width: 91px;
  margin-top: -100px
}

.assemble.bottle--10 .assemble__cap.cap--8[data-v-5183c4cc] {
  width: 48px;
  margin-top: -83px
}

.assemble.bottle--10 .assemble__cap.cap--9[data-v-5183c4cc] {
  width: 55px;
  margin-top: -88px
}

.assemble.bottle--10 .assemble__cap.cap--10[data-v-5183c4cc] {
  width: 72px
}

.assemble.bottle--10 .assemble__cap.cap--11[data-v-5183c4cc] {
  width: 77px;
  margin-top: -93px
}

.assemble.bottle--10 .assemble__cap.cap--12[data-v-5183c4cc] {
  width: 68px;
  margin-top: -87px
}

.assemble.bottle--10 .assemble__cap.cap--13[data-v-5183c4cc] {
  width: 55px;
  margin-top: -87px
}

.assemble.bottle--10 .assemble__cap.cap--14[data-v-5183c4cc] {
  width: 45px;
  margin-top: -86px
}

.assemble.bottle--11 .assemble__pump[data-v-5183c4cc] {
  max-width: 45px;
  margin-top: -77px
}

.assemble.bottle--11 .assemble__cap[data-v-5183c4cc] {
  margin-top: -91px
}

.assemble.bottle--11 .assemble__cap.cap--1[data-v-5183c4cc],.assemble.bottle--11 .assemble__cap.cap--2[data-v-5183c4cc],.assemble.bottle--11 .assemble__cap.cap--3[data-v-5183c4cc] {
  width: 55px;
  margin-top: -100px
}

.assemble.bottle--11 .assemble__cap.cap--4[data-v-5183c4cc],.assemble.bottle--11 .assemble__cap.cap--5[data-v-5183c4cc] {
  width: 55px;
  margin-top: -90px
}

.assemble.bottle--11 .assemble__cap.cap--6[data-v-5183c4cc] {
  width: 80px;
  margin-top: -84px
}

.assemble.bottle--11 .assemble__cap.cap--7[data-v-5183c4cc] {
  width: 101px;
  margin-top: -99px
}

.assemble.bottle--11 .assemble__cap.cap--8[data-v-5183c4cc] {
  width: 70px;
  margin-top: -93px
}

.assemble.bottle--11 .assemble__cap.cap--9[data-v-5183c4cc] {
  width: 57px;
  margin-top: -87px
}

.assemble.bottle--11 .assemble__cap.cap--10[data-v-5183c4cc] {
  width: 82px
}

.assemble.bottle--11 .assemble__cap.cap--11[data-v-5183c4cc] {
  width: 87px;
  margin-top: -94px
}

.assemble.bottle--11 .assemble__cap.cap--12[data-v-5183c4cc] {
  width: 68px;
  margin-top: -82px
}

.assemble.bottle--11 .assemble__cap.cap--13[data-v-5183c4cc] {
  width: 66px;
  margin-top: -87px
}

.assemble.bottle--11 .assemble__cap.cap--14[data-v-5183c4cc] {
  width: 55px;
  margin-top: -87px
}

.assemble.bottle--12 .assemble__pump[data-v-5183c4cc] {
  margin-top: -72px
}

.assemble.bottle--12 .assemble__cap[data-v-5183c4cc] {
  margin-top: -93px;
  margin-left: -1px
}

.assemble.bottle--12 .assemble__cap.cap--1[data-v-5183c4cc],.assemble.bottle--12 .assemble__cap.cap--2[data-v-5183c4cc],.assemble.bottle--12 .assemble__cap.cap--3[data-v-5183c4cc] {
  width: 58px;
  margin-top: -93px
}

.assemble.bottle--12 .assemble__cap.cap--4[data-v-5183c4cc],.assemble.bottle--12 .assemble__cap.cap--5[data-v-5183c4cc] {
  width: 58px;
  margin-top: -83px
}

.assemble.bottle--12 .assemble__cap.cap--6[data-v-5183c4cc] {
  margin-top: -81px
}

.assemble.bottle--12 .assemble__cap.cap--7[data-v-5183c4cc] {
  margin-top: -93px
}

.assemble.bottle--12 .assemble__cap.cap--8[data-v-5183c4cc] {
  width: 55px;
  margin-top: -76px
}

.assemble.bottle--12 .assemble__cap.cap--9[data-v-5183c4cc] {
  width: 63px;
  margin-top: -80px
}

.assemble.bottle--12 .assemble__cap.cap--10[data-v-5183c4cc] {
  margin-top: -86px
}

.assemble.bottle--12 .assemble__cap.cap--11[data-v-5183c4cc] {
  width: 88px;
  margin-top: -87px
}

.assemble.bottle--12 .assemble__cap.cap--12[data-v-5183c4cc] {
  margin-top: -76px
}

.assemble.bottle--12 .assemble__cap.cap--13[data-v-5183c4cc] {
  margin-top: -78px
}

.assemble.bottle--12 .assemble__cap.cap--14[data-v-5183c4cc] {
  width: 58px;
  margin-top: -80px
}

.assemble.bottle--13 .assemble__pump[data-v-5183c4cc] {
  max-width: 48px;
  margin-top: -80px
}

.assemble.bottle--13 .assemble__cap[data-v-5183c4cc] {
  margin-top: -83px
}

.assemble.bottle--13 .assemble__cap.cap--1[data-v-5183c4cc],.assemble.bottle--13 .assemble__cap.cap--2[data-v-5183c4cc],.assemble.bottle--13 .assemble__cap.cap--3[data-v-5183c4cc] {
  width: 38px;
  margin-top: -90px
}

.assemble.bottle--13 .assemble__cap.cap--4[data-v-5183c4cc],.assemble.bottle--13 .assemble__cap.cap--5[data-v-5183c4cc] {
  width: 38px
}

.assemble.bottle--13 .assemble__cap.cap--6[data-v-5183c4cc] {
  width: 66px
}

.assemble.bottle--13 .assemble__cap.cap--7[data-v-5183c4cc] {
  width: 80px;
  margin-top: -95px
}

.assemble.bottle--13 .assemble__cap.cap--8[data-v-5183c4cc] {
  width: 45px;
  margin-top: -85px
}

.assemble.bottle--13 .assemble__cap.cap--9[data-v-5183c4cc] {
  width: 50px;
  margin-top: -86px
}

.assemble.bottle--13 .assemble__cap.cap--10[data-v-5183c4cc] {
  width: 65px;
  margin-top: -89px
}

.assemble.bottle--13 .assemble__cap.cap--11[data-v-5183c4cc] {
  width: 70px;
  margin-top: -91px
}

.assemble.bottle--13 .assemble__cap.cap--12[data-v-5183c4cc] {
  width: 68px;
  margin-top: -88px
}

.assemble.bottle--13 .assemble__cap.cap--13[data-v-5183c4cc] {
  width: 50px
}

.assemble.bottle--13 .assemble__cap.cap--14[data-v-5183c4cc] {
  width: 38px;
  margin-top: -80px
}

.assemble.bottle--14 .assemble__pump[data-v-5183c4cc] {
  max-width: 48px;
  margin-top: -61px
}

.assemble.bottle--14 .assemble__cap[data-v-5183c4cc] {
  margin-top: -68px
}

.assemble.bottle--14 .assemble__cap.cap--1[data-v-5183c4cc],.assemble.bottle--14 .assemble__cap.cap--2[data-v-5183c4cc],.assemble.bottle--14 .assemble__cap.cap--3[data-v-5183c4cc] {
  width: 47px;
  margin-top: -79px
}

.assemble.bottle--14 .assemble__cap.cap--4[data-v-5183c4cc],.assemble.bottle--14 .assemble__cap.cap--5[data-v-5183c4cc] {
  width: 47px
}

.assemble.bottle--14 .assemble__cap.cap--6[data-v-5183c4cc] {
  width: 76px;
  margin-top: -66px;
  margin-left: -1px
}

.assemble.bottle--14 .assemble__cap.cap--7[data-v-5183c4cc] {
  width: 92px;
  margin-top: -79px
}

.assemble.bottle--14 .assemble__cap.cap--8[data-v-5183c4cc] {
  width: 50px;
  margin-top: -65px
}

.assemble.bottle--14 .assemble__cap.cap--9[data-v-5183c4cc] {
  width: 54px
}

.assemble.bottle--14 .assemble__cap.cap--10[data-v-5183c4cc] {
  width: 77px;
  margin-top: -73px
}

.assemble.bottle--14 .assemble__cap.cap--11[data-v-5183c4cc] {
  width: 90px;
  margin-top: -77px
}

.assemble.bottle--14 .assemble__cap.cap--12[data-v-5183c4cc] {
  width: 70px
}

.assemble.bottle--14 .assemble__cap.cap--13[data-v-5183c4cc] {
  width: 56px
}

.assemble.bottle--14 .assemble__cap.cap--14[data-v-5183c4cc] {
  width: 47px;
  margin-top: -66px
}

.assemble.bottle--15 .assemble__pump[data-v-5183c4cc] {
  max-width: 48px;
  margin-top: -78px;
  transform: translate(-57%,-50%)
}

.assemble.bottle--15 .assemble__cap[data-v-5183c4cc] {
  margin-top: -84px;
  transform: translate(-54%,-50%)
}

.assemble.bottle--15 .assemble__cap.cap--1[data-v-5183c4cc],.assemble.bottle--15 .assemble__cap.cap--2[data-v-5183c4cc],.assemble.bottle--15 .assemble__cap.cap--3[data-v-5183c4cc] {
  width: 45px;
  margin-top: -93px
}

.assemble.bottle--15 .assemble__cap.cap--4[data-v-5183c4cc],.assemble.bottle--15 .assemble__cap.cap--5[data-v-5183c4cc] {
  width: 45px
}

.assemble.bottle--15 .assemble__cap.cap--6[data-v-5183c4cc] {
  width: 76px
}

.assemble.bottle--15 .assemble__cap.cap--7[data-v-5183c4cc] {
  width: 90px;
  margin-top: -96px
}

.assemble.bottle--15 .assemble__cap.cap--8[data-v-5183c4cc] {
  width: 51px;
  margin-top: -82px
}

.assemble.bottle--15 .assemble__cap.cap--9[data-v-5183c4cc] {
  width: 53px
}

.assemble.bottle--15 .assemble__cap.cap--10[data-v-5183c4cc] {
  width: 66px
}

.assemble.bottle--15 .assemble__cap.cap--11[data-v-5183c4cc] {
  width: 80px;
  margin-top: -90px
}

.assemble.bottle--15 .assemble__cap.cap--12[data-v-5183c4cc] {
  width: 65px
}

.assemble.bottle--15 .assemble__cap.cap--13[data-v-5183c4cc] {
  width: 55px;
  margin-top: -84px
}

.assemble.bottle--15 .assemble__cap.cap--14[data-v-5183c4cc] {
  width: 45px;
  margin-top: -82px
}

.assemble.bottle--16 .assemble__pump[data-v-5183c4cc] {
  margin-top: -77px
}

.assemble.bottle--16 .assemble__cap.cap--1[data-v-5183c4cc],.assemble.bottle--16 .assemble__cap.cap--2[data-v-5183c4cc],.assemble.bottle--16 .assemble__cap.cap--3[data-v-5183c4cc] {
  margin-top: -98px
}

.assemble.bottle--16 .assemble__cap.cap--4[data-v-5183c4cc],.assemble.bottle--16 .assemble__cap.cap--5[data-v-5183c4cc] {
  margin-top: -88px
}

.assemble.bottle--16 .assemble__cap.cap--6[data-v-5183c4cc] {
  width: 96px;
  margin-top: -87px
}

.assemble.bottle--16 .assemble__cap.cap--7[data-v-5183c4cc] {
  width: 120px;
  margin-top: -105px
}

.assemble.bottle--16 .assemble__cap.cap--8[data-v-5183c4cc] {
  width: 67px;
  margin-top: -85px
}

.assemble.bottle--16 .assemble__cap.cap--9[data-v-5183c4cc] {
  width: 78px;
  margin-top: -93px
}

.assemble.bottle--16 .assemble__cap.cap--10[data-v-5183c4cc] {
  margin-top: -92px
}

.assemble.bottle--16 .assemble__cap.cap--11[data-v-5183c4cc] {
  margin-top: -98px;
  width: 110px
}

.assemble.bottle--16 .assemble__cap.cap--12[data-v-5183c4cc] {
  margin-top: -79px
}

.assemble.bottle--16 .assemble__cap.cap--13[data-v-5183c4cc] {
  margin-top: -83px
}

.assemble.bottle--16 .assemble__cap.cap--14[data-v-5183c4cc] {
  margin-top: -84px
}

.assemble.bottle--17 .assemble__pump[data-v-5183c4cc] {
  max-width: 48px;
  margin-top: -76px;
  transform: translate(-57%,-50%)
}

.assemble.bottle--17 .assemble__cap[data-v-5183c4cc] {
  margin-top: -85px;
  transform: translate(-54%,-50%)
}

.assemble.bottle--17 .assemble__cap.cap--1[data-v-5183c4cc],.assemble.bottle--17 .assemble__cap.cap--2[data-v-5183c4cc],.assemble.bottle--17 .assemble__cap.cap--3[data-v-5183c4cc] {
  width: 45px;
  margin-top: -94px
}

.assemble.bottle--17 .assemble__cap.cap--4[data-v-5183c4cc],.assemble.bottle--17 .assemble__cap.cap--5[data-v-5183c4cc] {
  width: 45px
}

.assemble.bottle--17 .assemble__cap.cap--6[data-v-5183c4cc] {
  width: 83px;
  margin-top: -86px
}

.assemble.bottle--17 .assemble__cap.cap--7[data-v-5183c4cc] {
  width: 101px;
  margin-top: -101px
}

.assemble.bottle--17 .assemble__cap.cap--8[data-v-5183c4cc] {
  width: 56px;
  margin-top: -85px
}

.assemble.bottle--17 .assemble__cap.cap--9[data-v-5183c4cc] {
  width: 59px;
  margin-top: -87px
}

.assemble.bottle--17 .assemble__cap.cap--10[data-v-5183c4cc] {
  width: 90px;
  margin-top: -95px
}

.assemble.bottle--17 .assemble__cap.cap--11[data-v-5183c4cc] {
  width: 82px;
  margin-top: -92px
}

.assemble.bottle--17 .assemble__cap.cap--12[data-v-5183c4cc] {
  width: 71px
}

.assemble.bottle--17 .assemble__cap.cap--13[data-v-5183c4cc] {
  width: 56px
}

.assemble.bottle--17 .assemble__cap.cap--14[data-v-5183c4cc] {
  width: 45px;
  margin-top: -83px
}

.assemble.bottle--18 .assemble__pump[data-v-5183c4cc] {
  max-width: 43px;
  margin-top: -78px
}

.assemble.bottle--18 .assemble__cap[data-v-5183c4cc] {
  margin-top: -87px
}

.assemble.bottle--18 .assemble__cap.cap--1[data-v-5183c4cc],.assemble.bottle--18 .assemble__cap.cap--2[data-v-5183c4cc],.assemble.bottle--18 .assemble__cap.cap--3[data-v-5183c4cc] {
  width: 45px;
  margin-top: -96px
}

.assemble.bottle--18 .assemble__cap.cap--4[data-v-5183c4cc],.assemble.bottle--18 .assemble__cap.cap--5[data-v-5183c4cc] {
  width: 45px
}

.assemble.bottle--18 .assemble__cap.cap--6[data-v-5183c4cc] {
  width: 76px
}

.assemble.bottle--18 .assemble__cap.cap--7[data-v-5183c4cc] {
  width: 101px;
  margin-top: -103px
}

.assemble.bottle--18 .assemble__cap.cap--8[data-v-5183c4cc] {
  width: 50px;
  margin-top: -85px
}

.assemble.bottle--18 .assemble__cap.cap--9[data-v-5183c4cc] {
  width: 54px
}

.assemble.bottle--18 .assemble__cap.cap--10[data-v-5183c4cc] {
  width: 72px;
  margin-top: -91px
}

.assemble.bottle--18 .assemble__cap.cap--11[data-v-5183c4cc] {
  width: 80px;
  margin-top: -96px
}

.assemble.bottle--18 .assemble__cap.cap--12[data-v-5183c4cc] {
  width: 67px;
  margin-top: -87px
}

.assemble.bottle--18 .assemble__cap.cap--13[data-v-5183c4cc] {
  width: 55px;
  margin-top: -87px
}

.assemble.bottle--18 .assemble__cap.cap--14[data-v-5183c4cc] {
  width: 45px;
  margin-top: -86px
}

.assemble.bottle--19 .assemble__pump[data-v-5183c4cc] {
  max-width: 38px;
  margin-top: -80px
}

.assemble.bottle--19 .assemble__cap[data-v-5183c4cc] {
  margin-top: -86px
}

.assemble.bottle--19 .assemble__cap.cap--1[data-v-5183c4cc],.assemble.bottle--19 .assemble__cap.cap--2[data-v-5183c4cc],.assemble.bottle--19 .assemble__cap.cap--3[data-v-5183c4cc] {
  width: 35px;
  margin-top: -94px
}

.assemble.bottle--19 .assemble__cap.cap--4[data-v-5183c4cc],.assemble.bottle--19 .assemble__cap.cap--5[data-v-5183c4cc] {
  width: 35px
}

.assemble.bottle--19 .assemble__cap.cap--6[data-v-5183c4cc] {
  width: 60px
}

.assemble.bottle--19 .assemble__cap.cap--7[data-v-5183c4cc] {
  width: 80px;
  margin-top: -99px
}

.assemble.bottle--19 .assemble__cap.cap--8[data-v-5183c4cc] {
  width: 43px;
  margin-top: -85px
}

.assemble.bottle--19 .assemble__cap.cap--9[data-v-5183c4cc] {
  width: 44px
}

.assemble.bottle--19 .assemble__cap.cap--10[data-v-5183c4cc] {
  width: 62px;
  margin-top: -91px
}

.assemble.bottle--19 .assemble__cap.cap--11[data-v-5183c4cc] {
  width: 70px;
  margin-top: -96px
}

.assemble.bottle--19 .assemble__cap.cap--12[data-v-5183c4cc] {
  width: 58px
}

.assemble.bottle--19 .assemble__cap.cap--13[data-v-5183c4cc] {
  width: 45px;
  margin-top: -87px
}

.assemble.bottle--19 .assemble__cap.cap--14[data-v-5183c4cc] {
  width: 35px;
  margin-top: -84px
}

.assemble.bottle--20 .assemble__pump[data-v-5183c4cc] {
  max-width: 48px;
  margin-top: -77px
}

.assemble.bottle--20 .assemble__cap[data-v-5183c4cc] {
  margin-top: -90px
}

.assemble.bottle--20 .assemble__cap.cap--1[data-v-5183c4cc],.assemble.bottle--20 .assemble__cap.cap--2[data-v-5183c4cc],.assemble.bottle--20 .assemble__cap.cap--3[data-v-5183c4cc] {
  width: 58px;
  margin-top: -104px
}

.assemble.bottle--20 .assemble__cap.cap--4[data-v-5183c4cc],.assemble.bottle--20 .assemble__cap.cap--5[data-v-5183c4cc] {
  width: 58px
}

.assemble.bottle--20 .assemble__cap.cap--6[data-v-5183c4cc] {
  width: 85px;
  margin-top: -84px
}

.assemble.bottle--20 .assemble__cap.cap--7[data-v-5183c4cc] {
  width: 101px;
  margin-top: -98px
}

.assemble.bottle--20 .assemble__cap.cap--8[data-v-5183c4cc] {
  width: 56px;
  margin-top: -82px
}

.assemble.bottle--20 .assemble__cap.cap--9[data-v-5183c4cc] {
  width: 62px;
  margin-top: -87px
}

.assemble.bottle--20 .assemble__cap.cap--10[data-v-5183c4cc] {
  width: 82px;
  margin-top: -90px
}

.assemble.bottle--20 .assemble__cap.cap--11[data-v-5183c4cc] {
  width: 90px;
  margin-top: -94px
}

.assemble.bottle--20 .assemble__cap.cap--12[data-v-5183c4cc] {
  width: 78px;
  margin-top: -85px
}

.assemble.bottle--20 .assemble__cap.cap--13[data-v-5183c4cc] {
  width: 66px;
  margin-top: -87px
}

.assemble.bottle--20 .assemble__cap.cap--14[data-v-5183c4cc] {
  width: 58px;
  margin-top: -89px
}

.bottle-selector__item[data-v-5183c4cc] {
  margin-right: .25rem;
  display: inline-flex;
  cursor: pointer;
  align-items: center;
  justify-content: center;
  border-radius: 1.5rem;
  border-width: 1px;
  --tw-border-opacity: 1;
  border-color: rgba(204,51,102,var(--tw-border-opacity));
  padding-left: .75rem;
  padding-right: .75rem;
  padding-top: .125rem;
  padding-bottom: .125rem;
  text-align: center;
  font-size: .875rem;
  line-height: 1.25rem;
  letter-spacing: .05em;
  --tw-text-opacity: 1;
  color: rgba(204,51,102,var(--tw-text-opacity))
}

.bottle-selector__item.is-selected[data-v-5183c4cc] {
  --tw-bg-opacity: 1;
  background-color: rgba(204,51,102,var(--tw-bg-opacity));
  --tw-text-opacity: 1;
  color: rgba(255,255,255,var(--tw-text-opacity))
}

.bottle-selector__item[data-v-5183c4cc]:not(.is-selected):hover {
  --tw-bg-opacity: 1;
  background-color: rgba(247,237,242,var(--tw-bg-opacity))
}

@media (min-width: 768px) {
  .bottle-selector__item[data-v-5183c4cc] {
      padding-top:0;
      padding-bottom: 0;
      font-size: 1rem;
      line-height: 1.5rem;
      margin-left: 3px;
      margin-right: 3px;
      width: 67px;
      height: 30px
  }
}

.thumbnails[data-v-5183c4cc] {
  display: flex;
  overflow: scroll
}

.thumbnails__item[data-v-5183c4cc] {
  position: relative;
  margin-right: .75rem;
  flex: none;
  cursor: pointer;
  --tw-bg-opacity: 1;
  background-color: rgba(249,250,251,var(--tw-bg-opacity));
  width: 55px!important;
  height: 55px!important
}

.thumbnails__item[data-v-5183c4cc]:after {
  pointer-events: none;
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  border-width: 2px;
  border-color: transparent;
  content: "";
  width: 55px;
  height: 55px
}

.thumbnails__item.is-selected[data-v-5183c4cc]:after {
  --tw-border-opacity: 1;
  border-color: rgba(204,51,102,var(--tw-border-opacity))
}

.thumbnails__item.is-disabled[data-v-5183c4cc] {
  pointer-events: none;
  overflow: hidden
}

.thumbnails__item.is-disabled[data-v-5183c4cc]:before {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  height: 100%;
  width: 100%;
  --tw-bg-opacity: 1;
  background-color: rgba(89,89,89,var(--tw-bg-opacity));
  opacity: .6;
  content: "";
  z-index: 1
}

.thumbnails__item.is-disabled[data-v-5183c4cc]:after {
  position: absolute;
  display: block;
  border-width: 0;
  --tw-bg-opacity: 1;
  background-color: rgba(255,255,255,var(--tw-bg-opacity));
  opacity: .5;
  width: 150%;
  height: 2px;
  top: 50%;
  left: 50%;
  transform: rotate(-45deg) translate(-50%,-50%);
  transform-origin: left top;
  z-index: 2
}

@media (max-width: 640px) {
  .thumbnails[data-v-5183c4cc] {
      -ms-scroll-snap-points-x:repeat(300px);
      scroll-snap-points-x: repeat(300px);
      -ms-scroll-snap-type: x mandatory;
      scroll-snap-type: x mandatory;
      scrollbar-width: none
  }

  .thumbnails[data-v-5183c4cc]::-webkit-scrollbar {
      display: none
  }

  .thumbnails__item[data-v-5183c4cc] {
      scroll-margin-left: 1.25rem
  }

  .thumbnails__item[data-v-5183c4cc]:first-child,.thumbnails__item[data-v-5183c4cc]:nth-child(6n) {
      scroll-snap-align: start
  }

  .thumbnails__item[data-v-5183c4cc]:last-child {
      scroll-snap-align: end
  }

  .thumbnails__item[data-v-5183c4cc]:first-child {
      box-sizing: content-box;
      padding-left: 1rem
  }
}

@media (min-width: 768px) {
  .thumbnails[data-v-5183c4cc] {
      display:flex;
      flex-wrap: wrap;
      overflow: auto;
      margin-bottom: -10px
  }

  .thumbnails__item[data-v-5183c4cc] {
      width: 75px!important;
      height: 75px!important;
      margin-right: 10px!important;
      margin-bottom: 10px
  }

  .thumbnails__item[data-v-5183c4cc]:not(.is-selected):hover:after {
      --tw-border-opacity: 1;
      border-color: rgba(252,231,243,var(--tw-border-opacity))
  }

  .thumbnails__item[data-v-5183c4cc]:after {
      width: 75px;
      height: 75px
  }
}

@media (min-width: 641px) and (max-width:1023px) {
  .thumbnails[data-v-5183c4cc] {
      padding-left:.75rem
  }

  .thumbnails__item[data-v-5183c4cc] {
      width: 55px!important;
      height: 55px!important
  }

  .thumbnails__item[data-v-5183c4cc]:after {
      width: 55px;
      height: 55px
  }
}

@media (min-width: 768px) {
  [data-v-5183c4cc] .thumbnails .swiper-wrapper {
      flex-wrap:wrap
  }
}

.bottle-list[data-v-5183c4cc] {
  margin-left: -.5rem;
  margin-right: -.5rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center
}

.bottle-list__item[data-v-5183c4cc] {
  margin-left: .5rem;
  margin-right: .5rem;
  margin-bottom: 2.75rem;
  text-align: center;
  width: 277px
}

.bottle-list__name[data-v-5183c4cc] {
  margin-top: 1.25rem;
  font-size: 1.125rem;
  line-height: 1.75rem;
  font-weight: 400;
  --tw-text-opacity: 1;
  color: rgba(26,26,26,var(--tw-text-opacity))
}

.bottle-list__bottle[data-v-5183c4cc] {
  margin-top: .5rem;
  font-size: .8125rem
}

@media (max-width: 1023px) {
  .bottle-list__item[data-v-5183c4cc] {
      margin-bottom:1.5rem;
      width: 45%
  }

  .bottle-list__name[data-v-5183c4cc] {
      margin-top: .75rem;
      font-size: 1rem;
      line-height: 1.5rem
  }

  .bottle-list__bottle[data-v-5183c4cc] {
      font-size: .75rem;
      line-height: 1rem
  }
}

@media (min-width: 768px) {
  .bottle-list__item[data-v-5183c4cc] {
      width:23%
  }
}

[data-v-5183c4cc] .modal,[data-v-5183c4cc] .modal__inner {
  display: flex;
  align-items: center;
  justify-content: center
}

[data-v-5183c4cc] .modal__inner {
  position: relative;
  --tw-bg-opacity: 1;
  background-color: rgba(255,255,255,var(--tw-bg-opacity));
  width: 70vw
}

@media (max-width: 1023px) {
  [data-v-5183c4cc] .modal__inner {
      width:90vw;
      height: 50vh;
      overflow: hidden
  }
}

[data-v-5183c4cc] .cloudimage-360-icons-container {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%
}

[data-v-5183c4cc] .cloudimage-360-magnifier-icon {
  position: absolute;
  bottom: .75rem;
  left: 50%;
  margin-left: -2.25rem;
  background-image: url(/wp-content/themes/luzfragrance/assets/img/icon_zoom.png)
}

[data-v-5183c4cc] .cloudimage-360-img-magnifier-glass {
  left: 0
}

[data-v-5183c4cc] .cloudimage-360-view-360-icon {
  top: 1.25rem;
  left: 1.25rem;
  width: 48px;
  height: 24px;
  margin: 0!important;
  background-image: url(/wp-content/themes/luzfragrance/assets/img/icon_360.png)!important;
  background-color: transparent!important
}

.img360[data-v-5183c4cc] {
  overflow: visible!important;
  max-width: 530px
}

.img360 .cloudimage-360-inner-box[data-v-5183c4cc] {
  height: 100%;
  width: 100%
}

.img360__play[data-v-5183c4cc] {
  position: absolute;
  bottom: 1rem;
  left: 50%;
  margin-left: 1.25rem;
  cursor: pointer;
  opacity: 0;
  z-index: 200;
  transition: opacity 1s ease
}

.img360__play .icon-stop[data-v-5183c4cc] {
  display: none
}

.img360__play.is--play .icon-stop[data-v-5183c4cc] {
  display: inline
}

.img360__play.is--pause .icon-stop[data-v-5183c4cc],.img360__play.is--play .icon-start[data-v-5183c4cc] {
  display: none
}

.img360__play.is--pause .icon-start[data-v-5183c4cc] {
  display: inline
}

@media (max-width: 1023px) {
  .img360__play[data-v-5183c4cc] {
      margin-left:0
  }
}

.img360.initialized .img360__play[data-v-5183c4cc] {
  opacity: 1
}
